.App {
  text-align: center;
}

.button-plus {
  margin-right: 15px;
  font-size: 30px;
  color: white;
  background-color: green;
}

.button-minus {
  margin-left: 15px;
  font-size: 30px;
  color: white;
  background-color: red;
}
